name: PR Agent
on:
  pull_request:
    types: [opened, reopened, ready_for_review]
  issue_comment:
    types: [created, edited]
  pull_request_review_comment:
    types: [created, edited, dismissed]

jobs:
  pr_agent_job:
    if: ${{ github.event.sender.type != 'Bot' }}
    runs-on: ubuntu-latest
    permissions:
      issues: write
      pull-requests: write
      contents: write
    steps:
      - name: Setup Cloudflare WARP
        uses: fscarmen/warp-on-actions@master
        with:
          stack: ipv4

      - name: PR Agent action step
        uses: qodo-ai/pr-agent@main
        env:
          ANTHROPIC__KEY: ${{ secrets.ANTHROPIC_KEY }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GITHUB_REPOSITORY: ${{ github.repository }}
          github_action_config.auto_review: "true"
          github_action_config.auto_describe: "true"